/** Reset **/
html, body, div, span, applet, object, iframe,
 blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: Roboto Mono;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/** Structure **/
.row{
    display: flex ;flex-wrap: wrap;
}
.col {
	flex: 1 1 0;
}
.col-1 {
	flex: 0 0 auto;
	width: 8.33333333%;
}

.col-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
}

.col-3 {
    flex: 0 0 auto;
    width: 25%;
}

.col-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}

.col-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
}

.col-6 {
    flex: 0 0 auto;
    width: 50%;
}

.col-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
}

.col-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
}

.col-9 {
    flex: 0 0 auto;
    width: 75%;
}

.col-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
}

.col-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
}

.col-12 {
    flex: 0 0 auto;
    width: 100%;
}


.container-fluid {
	width: 100%;
}
.container{
   
    align-items: center;
    margin: 10px 120px;
}
img{width: 100%;}
body{
    font-family: Roboto Mono;
}
/*CUSTOM*/

.center-1{align-items: center;

}
.center-2{justify-content: center;

}
.center-3{justify-items: center;

}

main h2{
    font-family: Ribeye Marrow;
    font-size: 64px;
    margin: 30px auto;
}
/*SECTION-1*/
.section-1{
    
    background-image: linear-gradient(to bottom, 
        rgba(255,255,255,1) 0%, rgba(207,152,103,0.3) 100%);
    padding: 40px 0px 0px 0px;
}

.section-1-letterspacing{
    letter-spacing: 8px;
    padding: 20px;
    margin: 20px;

}
.discount{
    font-size: 25px;
    font-weight: 800;
}
.section-1 p{
    display: flex;
    align-items: center;
}
/*.owl-carousel .owl-item img{
    width: 60%;
    margin: 40px 100px;
    padding: 10px;
    border-style:solid ;
    border-color: #CF9867;
    border-width: 2px;
}*/
/*SECTION-2*/
.section-2{
    background-image: linear-gradient(to left, 
        rgba(255,255,255,0.3) 0%,rgba(207,115,94,0.8) 100%);
}
.section-2 img{
   
    border: 3px solid white;
    

}
/**SECTION-3*/
.section-3 {
    margin: 60px 0px;
}
.section-3-content-1:before
    {
    content: "";
    display: inline-block;
    border-top: 1px solid grey;
    width: 30%;
    transform: translateY(-50%);
    margin:5px 80px 5px 0px;}

.section-3-content-1:after
    {
    content: "";
    display: inline-block;
    border-top: 1px solid grey;
    width: 30%;
    transform: translateY(-50%);
    margin: 5px 0px 5px 80px;}
.section-3 img{
    width: 90%;
    padding: 5px;
    margin: 30px 20px;
    /*border-bottom-style: outset;*/
    border-color: white;
    border-width: 2px;
     -webkit-filter: drop-shadow(5px 5px 5px #666666);
        filter: drop-shadow(5px 5px 5px #666666);

}
.section-3-content-2:before
    {
    content: "";
    display: inline-block;
    border-top: 1px solid grey;
    width: 85%;
    transform: translateY(-50%);
    margin:5px;}
/*SECTION-4*/
.section-4 h3{
    display: flex;
    align-items: center;
    letter-spacing: 4px;
    margin: 60px;
    }
.section-4 hr{
    width: 60%;
    color: grey;
    margin: 50px 20px;
    height:1px;
    background-color: grey;

}
/*SECTION-7*/

.section-7{
    background-image: linear-gradient(to top, 
        rgba(255,255,255,0.3) 0%,rgba(207,115,94,0.8) 100%);
}
.icon{
    width:20%;
    margin: 0px 20px;
    position: relative;
}

.section-7 h3{
    margin-left: 50px;
    height: 30px;
    display: flex;
    align-items: center;
    margin: 60px 10px 20px 10px;
    color: black;
    font-size: 36px;
  

}
.section-7 p{
    font-size: 30px;
}







